<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.familyRead.dao.BannerMapper" >
  <resultMap id="BaseResultMap" type="com.familyRead.model.Banner" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="banner_type" property="bannerType" jdbcType="INTEGER" />
    <result column="img_name" property="imgName" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="file_id" property="fileId" jdbcType="BIGINT" />
    <result column="forward" property="forward" jdbcType="VARCHAR" />
    <result column="forward_type" property="forwardType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, img_name, img_url, remark, file_id,banner_type,forward,forward_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from banner
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectBannerPage" resultMap="BaseResultMap">
    select 
    	b.id, f.file_name img_name, f.file_path img_url, b.remark, f.id file_id,b.banner_type,b.forward , b.forward_type 
    from banner b left join file_info f on f.id=b.file_id 
    <where>
  		<if test="parameter.bannerType!=null">
  			and b.banner_type = #{parameter.bannerType}
  		</if>
  		<if test="parameter.imgName!=null">
  			and f.file_name = #{parameter.imgName}
  		</if>
  	</where>
  		order by b.id desc
  		LIMIT #{pageSize,jdbcType=DECIMAL} offset
		#{offset,jdbcType=DECIMAL}
  </select>
   <select id="selectBannerCount"  resultType="java.lang.Integer">
    select 
    	count(b.id) 
   from banner b left join file_info f on f.id=b.file_id 
    <where>
  		<if test="parameter.bannerType!=null">
  			and b.banner_type = #{parameter.bannerType}
  		</if>
  		<if test="parameter.imgName!=null">
  			and f.file_name = #{parameter.imgName}
  		</if>
  	</where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from banner
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.familyRead.model.Banner" >
    insert into banner (id, img_name, img_url, 
      remark, file_id,banner_type,forward,forward_type)
    values (#{id,jdbcType=BIGINT}, #{imgName,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{fileId,jdbcType=BIGINT},#{bannerType,jdbcType=INTEGER},
      #{forward,jdbcType=VARCHAR},#{forwardType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.familyRead.model.Banner" >
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="imgName != null" >
        img_name,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="fileId != null" >
        file_id,
      </if>
      <if test="bannerType != null" >
        banner_type,
      </if>
      <if test="forward != null" >
        forward,
      </if>
      <if test="forwardType != null" >
        forward_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="imgName != null" >
        #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null" >
        #{fileId,jdbcType=BIGINT},
      </if>
      <if test="bannerType != null" >
        #{bannerType,jdbcType=INTEGER},
      </if>
      <if test="forward != null" >
        #{forward,jdbcType=VARCHAR},
      </if>
      <if test="forwardType != null" >
        #{forwardType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.familyRead.model.Banner" >
    update banner
    <set >
      <if test="imgName != null" >
        img_name = #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null" >
        file_id = #{fileId,jdbcType=BIGINT},
      </if>
      <if test="bannerType != null" >
        banner_type = #{bannerType,jdbcType=INTEGER},
      </if>
      <if test="forward != null" >
        forward = #{forward,jdbcType=VARCHAR},
      </if>
      <if test="forwardType != null" >
        forward_type = #{forwardType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.familyRead.model.Banner" >
    update banner
    set img_name = #{imgName,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      forward = #{forward,jdbcType=VARCHAR},
      forward_type = #{forwardType,jdbcType=INTEGER},
      banner_type = #{bannerType,jdbcType=INTEGER},
      file_id = #{fileId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectBannerByBannerType" parameterType="java.lang.Integer"  resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from banner
    where banner_type <![CDATA[ <> ]]> #{bannerType,jdbcType=INTEGER}
  </select>
  <select id="selectNewsByBannerType" parameterType="java.lang.Integer"  resultMap="BaseResultMap">
  select 
    <include refid="Base_Column_List" />
    from banner
    where banner_type = #{bannerType,jdbcType=INTEGER}
  </select>
</mapper>