<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.familyRead.dao.GroupsMapper" >
  <resultMap id="BaseResultMap" type="com.familyRead.model.Groups" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="carete_by" property="careteBy" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, group_name, create_time, carete_by, remark,parent_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from groups
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from groups
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.familyRead.model.Groups" >
    insert into groups (id, group_name, create_time, 
      carete_by, remark,parent_id)
    values (#{id,jdbcType=BIGINT}, #{groupName,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{careteBy,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},#{parentId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.familyRead.model.Groups" >
    insert into groups
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="careteBy != null" >
        carete_by,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="careteBy != null" >
        #{careteBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.familyRead.model.Groups" >
    update groups
    <set >
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="careteBy != null" >
        carete_by = #{careteBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.familyRead.model.Groups" >
    update groups
    set group_name = #{groupName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      carete_by = #{careteBy,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from groups
  </select>
  <select id="selectGroupPage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from groups
    where parent_id is null 
    <where>
  		<if test="parameter.groupName!=null">
  			and group_name = #{parameter.groupName}
  		</if>
  	</where>
  		order by create_time desc
  		LIMIT #{pageSize,jdbcType=DECIMAL} offset
		#{offset,jdbcType=DECIMAL}
  </select>
  <select id="selectGroupCount" resultType="java.lang.Integer">
    select 
    	count(id)
    from groups
    where parent_id is null 
    <where>
  		<if test="parameter.groupName!=null">
  			and group_name = #{parameter.groupName}
  		</if>
  	</where>
  </select>
  <select id="selectCompilationPage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from groups
    	where parent_id is not null 
    <where>
  		<if test="parameter.groupName!=null">
  			and group_name = #{parameter.groupName}
  		</if>
  	</where>
  		order by create_time desc
  		LIMIT #{pageSize,jdbcType=DECIMAL} offset
		#{offset,jdbcType=DECIMAL}
  </select>
  <select id="selectCompilationCount" resultType="java.lang.Integer">
    select 
    	count(id)
    from groups
    where parent_id is not null 
    <where>
  		<if test="parameter.groupName!=null">
  			and group_name = #{parameter.groupName}
  		</if>
  	</where>
  </select>
  <select id="selectByParentId" resultMap="BaseResultMap">
    select 
    	<include refid="Base_Column_List" />
    from groups
    <where>
  		<if test="parentId!=null">
  			and parent_id = #{parentId,jdbcType=BIGINT}
  		</if>
  	</where>
  </select>
</mapper>